/* 11 o 12 propiedades a entender en flexbox
ver las guias completas de flexbox en la pagina css-tricks.com 

Usamos la extension CSS Flexbox Cheatsheet (CTRL+SHIFT+P) vemos
las propiedades que tiene flexbox

FLEXBOX ES UNIDIRECCIONAL SOLO GENERA FILAS HORIZONTALES
NO HAY COLUMNAS, SOLAMENTE PODEMOS ACOMODAR EL EXCESO DE ITEMS
EN FORMATO COLUMN PERO TODO DENTRO DE LA MISMA FILA

row trabaja con align en eje y
column trabaja con align en eje x
 */







/*
? factor de crecimiento del espacio sobrante  con FLEX-GROW: 0 (por defecto) No acepta nro negativo
? factor de encogimiento cuando NO haya espacio sobrance con FLEX-SHRINK: 1 (por defecto)   A mas grande el factor mas habilidad p/ crecer o decrecer tiene
? tamano del elem. hijo dentro de la caja flexbox con FLEX-BASIS: auto (por defecto)  Acepta nro negativo

? Puedo definir rems (px) para los tamanos asi se distribuira de forma mas precisa el espacio entre c/ item
*/


/* 
El total del ancho es 239 y se reduce hace 225 aprox.  239 - 14 = 225, Esos 14 de decrecimiento son los que se dividen
* item 1. 79.77 - 3.57 = 76.2
* item 2. 79.77 - 3.57 = 76.2
* item 3. 79.77 - 3.57 = 76.2
*/


.container2 {
  display: flex;
  flex-flow: row nowrap;
  background-color: #333;
  height: 30vh;
  width: 100%;
}
.item2 {
  border: 1px solid #999;
  background-color: #666;
  flex-shrink: 1; /* factor de encogimiento de los hijos, si la caja NO tiene espacio sobrante */
}

.item2:nth-child(2) {
  flex-shrink: 2; /*del espacio sobrante toma proporcionalmente el doble que los otros elementos, si c/item toma 100 este tomara 200 */
}


/*
.container3 {
  display: flex;
  flex-flow: row nowrap;
  background-color: #333;
  height: 30vh;
  width: 100%;
}
.item3 {
  border: 1px solid #999;
  background-color: #666;
  flex-basis: 10rem;  tamano del elem hijo dentro de la caja flexbox
  si la caja tiene flexbox: row, lo que flex-basis representa es el WIDTH
  si la caja tiene flexbox: column, lo que flex-basis representa es el HEIGHT.  Es mas fuerte en ordenes de instruccion
}

.item3:nth-child(2) {
  flex-basis: 20rem;
}
*/
/* SHORTCUT P/ LOS ELEM. HIJO EN ESTE ORDEN :  FLEX
grow, shrink, basis 

ejemplo:  
flex: 0 1 auto;
*/

/* OTRAS PROPIEDADES FLEXBOX PARA LOS HIJOS: 

order: 0; ...representa el orden que tendran los elem en la caja flexbox acepta valores positivos y negativos

align-self: stretch; ...esta prop. es para los hijos y sobreescribe el valor de la prop. align-items solo p/ el elem. hijo especificado


*/

/*
Apartir del capitulo 7, cada html contendra su propio <style> con la teoria incluida, por practicidad!
*/
